.header {
  padding: 1rem;

  .logo {
    color: $text-color;
    font-size: 2rem;
    font-weight: lighter;
    span {
      color: darken($secondary-color, 20%);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        padding: 5px 20px;
        border-radius: 5px;
        transition: 500ms;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
